/*reset e estilos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    color: #262626;
}

i {
    cursor: pointer;
    font-size: 24px;
    margin-right: 15px;
}

/*estilizando header*/

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.main-header .logo-img {
    height: 35px;
    width: a;
}

/*centralizando conteudo*/

.main-content {
    padding-top: 60px;
    padding-bottom: 60px;

    max-width: 600px;
    margin: 0 auto;
}

.stories {
    display: flex;
    padding: 15px 0;
    overflow-x: auto;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    margin-bottom: 20px;
    align-items: flex-start;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
    flex-shrink: 0;
    max-width: 70px;
}

.story-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1px; 
    border: 2px solid transparent; 
    background-image: 
        linear-gradient(white, white), 
        linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-origin: border-box; 
    background-clip: content-box, border-box;
}

.story-username {
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*estilizando post*/

.post {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-image {
    width: 100%;
    height: 400px;
    background-color: #eee;
    background-image: url(https://i.pinimg.com/1200x/d6/cc/e0/d6cce06b075ab014378acb94b63f9a9f.jpg);
    background-size: cover;
    background-position: center center;
}

.post-actions {
    display: flex;
    padding: 10px;
}

.post-details {
    padding: 0 10px 10px;
}

.comments-link {
    color: #8e8e8e;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

/*nav mobile*/

.mobile-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    padding: 10px 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.avatar-nav-footer {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #262626;
}